@media (prefers-color-scheme: dark) {
    body {
        background: #333;
        color: #cccccc;
    }
    input[type='range']::-webkit-slider-thumb {
        background-color: #cccccc;
    }
    #botaoDeConfirmacaoDeTema {
        background: #333;
        color: #cccccc;
    }
    .caixa-de-cadastro {
        border-color: #cccccc;
    }
    .formulario {
        background-color: #2b2b2b;
        color: #d4d4d4;
    }
    button {
        background-color: #d4d4d4;
        color: #2b2b2b;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: #eaa197;
        color: #1d5860;
    }
    input[type='range']::-webkit-slider-thumb {
        background-color: #1d5860 !important;
    }
    #botaoDeConfirmacaoDeTema {
        background: #eaa197;
        color: #1d5860;
    }
    .caixa-de-cadastro {
        border-color: #1d5860;
    }
    .formulario {
        background-color: #df7f72;
        color: #1d5860;
    }
    button {
        background-color: #1d5860;
        color: #e2a79f;
    }
}

body {
    font-family: 'Saira Condensed', sans-serif;
}

.tema-da-pagina {
    display: flex;
    width: 30%;
    position: relative;
    right: -70%;
    flex-direction: row;
    justify-content: space-between;
}

#opcaoDeTema {
    width: 13%;
}

#botaoDeConfirmacaoDeTema {
    border-color: transparent;
    border-radius: 7px;
    font-size: 10px;
    height: 26px;
    margin-top: 20px;
}

.caixa-de-cadastro {
    display: flex;
    flex-direction: column;
    width: 44%;
    border-radius: 30px;
    border: groove;
    text-align: center;
    position: fixed;
    right: 28%;
    top: 19%;
    height: 68%;
    text-transform: uppercase;
    font-size: 22px;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 78%;
    height: 76%;
    text-align: justify;
    font-size: 16px;
    transform: translateX(9.5%);
    justify-content: space-evenly;
    border-radius: 5%;
    padding: 0% 3% 0% 3%;
    text-transform: initial;
}

form section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

form input {
    background-color: transparent;
    border: transparent;
    border-bottom: 1px solid black;
    margin-left: 5%;
    margin-right: 5%;
}

button {
    border: transparent;
    border-radius: 7px;
    padding: 1% 1% 1% 1%;
    height: 100%;
    padding: auto;
    margin-left: 5%;
}

input[type='range'] {
    cursor: pointer;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}

/** 
   * Use o pseudo-seletor "::-webkit-slider-runnable-track" para customizar o "trilho" do campo.
   */
input[type='range']::-webkit-slider-runnable-track {
    width: 200px;
    height: 10px;
    background: #1a86c8;
}

/** 
   * Use o pseudo-seletor "::-webkit-slider-thumb" para customizar o "seletor" do campo.
   */
input[type='range']::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
    border-radius: 60px;
}
